@media screen and (min-width:1024px ){
    .cont2-main h6{
        font-size: 13px;
    }
    .cont2-main h1 {
        font-size: 30px;
        width: 403px;
        white-space: normal;
        word-wrap: break-word;
        text-align: left;
    }
    .cont2-main p{
        font-size: 20px;
        width: 434px;
        word-wrap: break-word;
        white-space: normal;
    }
    .contactlink1{
        border-radius: 10px;
    }
    .heroimg{
        height: 346px;
        width: 462px;
    }
    .container2{
        gap: 150px;
    }
}
@media screen and (min-width:1024px ) and (max-width:1151px){
    .container2{
        gap: 100px;
    }

}
