@media screen and (min-width:375px ) {
    .contactlink1{
        width: 293px;
    }
    .heroimg{
        width: 100%;
    }
    .heroimg{
        width: 293px;
    }
    /* CONTAINER3 */
    /* .container3{
        width: 100%;
        text-align: center;
    } */
    /* --------------------------------- */
}