@media  (min-width:320px) and (max-width:768px){
    .container5p2{
        display: none;
    }
    .container5p3{
        display: none;
    }
    .bottomcont41{
        display: none;
    }
    .container5p4{
        display: none;
    }
    .container5{
        padding-bottom: 50px;
        padding-top: 30px;
    }
.toptopcont5p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logocont5p1 img{
width: 100%;
height: 105px;
}
nav ul{
    justify-content: space-around;
}
.sidebar a{
    margin-left: 20px;
}

.logoscont5p1{
    display: flex;
    gap: 43px;
}
.topbotcont5p1{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 82px;
    

}
.topbotcont5p1 h5{
    font-size: 16px;
}
.topbotcont5p1 p{
    font-size: 15px;
}
.topbotleftcont5p1 p{
    margin-bottom: 4px;
}
.topbotleftcont5p1 h5{
    margin-bottom: 8px;
}
.topbotrightcont5p1 p{
    margin-bottom: 4px;

}
.topbotrightcont5p1 h5{
    margin-bottom: 8px;
   
}
.bottopcont5p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 87px;
    margin-bottom: 35px;
}
.emailuscont5p2 p{
    font-size: 14px;
}
.emailcont5p3 p{
    font-size: 15px;
}
.botbotcont5p4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.helpcont5p6 button{
    background-color: #DFA667;
    width: 190px;
    height: 56px;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}
.botcont5p1{
    display: flex;
    flex-direction: column;
    grid-area: 35px;
}
.container2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
}