

@media  (min-width:1340px) {

.bgtop1{
    height: 700px;
}
.container1{
    height: 700px;
}
    .container{
    display: flex;
    justify-content: center;
    gap: 37px;
    padding-top: 100px;
    z-index: 100;
    
}
.card1 , .card{
    margin-right: 30px;
}
.card2.card {
        margin-top: 0;
}
.topcont4{
    margin: 0;
}
.container h1{
    font-family: aldrich;
    font-size: 42px;
    font-weight: 400;
    padding-bottom: 10px;
}
.hideOnMobile1{
    color: #FFFFFF;
    font-family: poppins;
    font-size: 15px;
    font-weight: 600;
}
.navelements{
    padding-right:50px;
}
.navelements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbarul{
    display: flex;
    justify-content: space-between;
}
nav li a{
    margin-right: 48px;

}
.emailfor{
    font-size: 14px;
}
.emailmeat{
font-size: 15px;
}
.sideinfocont1{
    text-align: right;
    padding: 24px 23px;
}
.logonav {
margin: 0;
padding: 0;

}
.bottom-container2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container1 section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
section{
    margin-top: 28px;
}

  .dontshowonmid , .img1{
    width: 388px;
    height: 442px;
  }
 
  .top-container2{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dontshowonmid{
    display: none;
  }
  .titles-container2{
    padding-bottom: 20px;
    padding-top: 180px;
  }
.conatiner2-showmore{
    font-family: poppins;
    font-weight: 700;
    font-size: 16px;
}
.container5p2{
    display: none;
}
.container5p1{
    display: none;
}
.h1cont3tekst{
    display: none;
}
.h1cont3tekst2{
    display: none;
}
.container3{
    height: 374px;
}
.container3teksti h5{
    margin-top: 80px;
    padding-bottom: 20px;
    font-size: 15px;
}

.bottomcont4{
    display: none;
}
.bottomcont41 h1{
    font-family: aldrich;
    color: #111111;
    font-weight: 400;
    letter-spacing: 28.8;
    text-transform:uppercase;
    font-size: 24px;
  }
  .bottomcont41 h5{
    font-family: poppins;
    color: #707070;
    font-weight: 400;
    letter-spacing: 26;
    font-size: 14.5px;
    line-height: 26px;
  }

  
  .bottomcont41{
        display: flex;
        justify-content: space-around;
        
    
   }
 
  
   
   section h1{
    margin-top: 60px;
    font-size: 64px;
    font-size: 60px;
   }
   section h5{
    font-size: 24px;
   }
   .logonav {
    width: 336px;
    height: 117px;
   }
   .container4{
    padding-top: 50px;

display: flex;
flex-direction: column;


   }
 
   .container5p3 ,.container5p2, .container5p1{
    display: none;
   }
   .container5p4{
    display: flex;
    justify-content: center;
    gap: 100px;
   }
   .mcont5{
    display: flex;
    gap: 100px;
   }
  
   .container5p4{
padding-top: 100px;
padding-bottom: 100px;
   }
   .lcont5{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 130px;
    gap: 40px;
   }
   .container5{
    margin-top: 200px;
   }
   .rcont5{
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px   ;
   }
 .topbotleftcont5{
    display: flex;
    flex-direction: column;
    gap: 13px;
 }
 .topbotrightcont5{
    display: flex;
    flex-direction: column;
    gap: 13px;
 }
 .topcont4{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-bottom: 40px;
    
}
.container3teksti h1{
    padding-top: 10px;
}
.topcont3 h1, h5{
    padding: 0;
    margin: 0;
}
 .logoscont5{
    display: flex;
    gap: 7px;
 }
 .bottomcont4p{
    display: flex;
    gap: 29px;
    justify-content: center;
 }
 .topcont4 h5{
    padding-right: 20px;
 }

 .logocont5fr{
    width: 303px;
    height: 105px;
 }
 .helpcont5 button {
    font-size: 20px;
 }
 
}