/* *{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
  .bgtop1{
    height: 352px;
    z-index: -100 ;
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
   */
 /* nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  } */
     /* nav li{
    height: 50px;
  } */
   /* nav a:hover{
    background-color: #f0f0f0;
  } */
  /* nav li:first-child{
    margin-right: auto;
  } */
  
  
  *{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
  }

  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
 
  nav li a{
    margin: 0;
    padding: 0;
  font-family: poppins;
  color: #FFFFFF;
  }
  .emailfor{
    font-family: aldrich;
    color: #b7b7b7;
  }
  .emailmeat{
    color: #DFA667;
    font-family: poppins;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
    color: #FFFFFF;
  }
  .menu-button{
    display: none;
  }
  @media(max-width:922px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  
  
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
  .bgtop2{
    z-index: -100;
    position: absolute;
    width: 100%;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .navelements{
    display: flex;
    gap: 48px;
  }
  .sideinfocont1{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 29px;
  }