

*{
  margin: 0;
  padding: 0;
}


.top h5{
    font-family: poppins;
    color:#DFA667 ;
   
   }
    .mid h1{
        font-family: aldrich;
        font-size: 22px;
       
    }
    .bot p {
        font-family: poppins;
        font-size: 16px;
       
    }
    .botbot img {
        width: 269px;
        height: auto;
        
        
    }

  @media  (min-width:320px) and (max-width:768px) {
    .container5p2{
      display: none;
    }
    .container5p3{
      display: none;
    }
    .container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
   .top h5{
    font-family: poppins;
    color:#DFA667 ;
    margin-top: 35px;
    
   }
   .imagescont2rreshti1{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 50px;

   }
   .images1-container2{
    display: flex;
    flex-direction: column;
   }
   .imagesccont2rreshti2{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
   }
   .dontshowonmid{
    display: none;
   }
   .botbot img {
    width: 269px;
    height: auto;
    margin-top: 50px;
    
}
.images1-container2{
  gap: 50px;
}
   
    .mid h1{
        font-family: aldrich;
        font-size: 22px;
        margin-top: 12px;
        
    }
    .bot p {
        font-family: poppins;
        font-size: 16px;
       
        margin-top: 7px;
    }
    .botbot img {
        width: 269px;
        height: auto;   
    }    
  .container2{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .images1-container2{
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
  .container2-subtitle{
    font-size: 27px;
  }

.titles-container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  gap: 10px;
  margin: 100px 0 40px 0;
}

.container2-title{
  margin: 0;
}
.container2-subtitle{
  margin: 0;
}

.bottom-container2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 25px;
}
.vector1{
  width: 10px;
  height: 10px;
  
}
.bottopcont5{
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conatiner2-showmore{
  font-family: poppins;
  font-weight: 700;
  font-size: 16px;
}
.container3 {
  margin: 0;
  padding: 0;
background: url(images/background1-container3.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 374px;
width: 100%;
margin-top: 100px;
    }

    .container2-subtitle{
      font-family: aldrich;
      color: #111111;
      font-weight: 400;
    }

  .container2-title{
   font-family: poppins;
   text-transform: capitalize;
   color: #DFA667;  
   margin: 0;
  }

  .images1-container2{
    display: flex;
    flex-direction: column;
  }
.container3teksti {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding-top: 30px;



}
.container3teksti h1{
font-size: 20px;
line-height: 28px;
padding-bottom: 20px;

}
.h1cont3tekst{
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}
.h1cont3tekst2{
  display: none;
}
.h1cont3tekst3{
  display: none;
}
.container3teksti h5{
font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}



.topcont4{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;
  
}

.card{
  margin-top: 40px;
 
}
.card1{
margin-top: 40px;
}
.container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card h1{
  margin-top: 24px;
  margin-bottom: 21px;
}
.card1 h1{
  margin-top: 24px;
  margin-bottom: 21px;
}
.container1{
  height: 352px;
  
}
.bgtop1{
  height: 352px;
  z-index: -100 ;
  margin: 0;
  padding: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.container5{
  margin-top: 100px;
}


.container1 section{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
margin-top: 60px;

}
.container1 section h1{
  text-align: center;
  font-family: aldrich;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
}
.container1 section h5{
  text-align: center;
  font-family: poppins;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 10px;
}

.logocont5 img{
  width: 303px;
  height: 100%;
}

.logoscont5{
align-items: center;
justify-content: center;
gap: 43px;
}

.topbotleftcont5 h5{
  font-size: 16px;
}
.topbotleftcont5 p{
  font-size: 15px;
}
.topbotrightcont5 h5{
  font-size: 16px;
}
.topbotrightcont5 p{
  font-size: 15px;
}

.topbotleftcont5{
  display: flex;
  flex-direction: column;
gap: 5px;
}
.emailuscont5 p{
  font-size: 14px;
}
.emailcont5 p{
  font-size: 15px;
}

.gethelpcont5 h1{
  font-size: 38px;
}
.helpcont5 button{
  font-size: 20px;
  margin-top: 12px;
}


.topbotrightcont5{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.container5{
  flex-direction: column;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.helpcont5 {
  padding-bottom: 33px;
}
.topbotcont5{
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  margin-top: 90px;
}
.botbotcont5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
}


.logoscont5 {
  display: flex;
  flex-direction: row; /* Added flex-direction to arrange logos in a row */
}
  .container3teksti h5{
    color: #DFA667;
    font-family: poppins;
    font-weight: 600;
  }
  .container3teksti h1{
    font-family: aldrich;
    color: #FFFFFF;
    font-weight: 400;
  }

.bottomcont4 h1{
  font-family: aldrich;
  color: #111111;
  font-weight: 400;
  letter-spacing: 28.8;
  text-transform:uppercase;
  font-size: 24px;
}
.bottomcont4 h5{
  font-family: poppins;
  color: #707070;
  font-weight: 400;
  letter-spacing: 26;
  font-size: 14.5px;
  line-height: 26px;
}

.topcont4 h5{
  text-transform:uppercase;
  font-family: poppins;
font-size: 15px;
  color: #DFA667;
  font-weight: 600;
  margin: 0;
}
.topcont4 h1{
font-size: 27px;
font-family: aldrich;
font-weight: 400;
text-transform: uppercase;
margin: 0;
}

.container3teksti{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.sidebar svg{
  margin-top: 20px;
}



.topbotleftcont5 h5{
  font-family: poppins;
  font-weight: 600;
  color: #FFFFFF;
}
.topbotleftcont5 p{
  font-family: poppins;
  color: #707070;

}
.topbotrightcont5 h5{
  font-family: poppins;
  font-weight: 600;
  color: #FFFFFF;
}
.topbotrightcont5 p{
  font-family: poppins;
  color: #707070;
}


.bgtop1{
  height: 352px;
  z-index: -100 ;
  margin: 0;
  padding: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
.emailuscont5 p{
  font-family: aldrich;
  color: #707070;
  font-weight: 400;
}
.emailcont5 p{
  font-family: poppins;
  color: #DFA667;
}


.gethelpcont5 h1{
  font-family: aldrich;
  color: #FFFFFF;
  font-weight: 400;

}

.helpcont5 button{
  background-color: #DFA667;
  border-radius: 40px;
  color: #FFFFFF;
  font-family: poppins;
  font-weight:  700;
  border: none;
  width: 190px;
  height: 56px;
}




















/* ============================================================================================================================================ */
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background: url('laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
} */
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}
/* nav li{
  height: 50px;
} */
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
/* nav a:hover{
  background-color: #f0f0f0;
} */
/* nav li:first-child{
  margin-right: auto;
} */
nav li a{
  margin: 0;
  padding: 0;
font-family: poppins;
color: #FFFFFF;
}
.emailfor{
  font-family: aldrich;
  color: #b7b7b7;
}
.emailmeat{
  color: #DFA667;
  font-family: poppins;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
  color: #FFFFFF;
}
.menu-button{
  display: none;
}
@media(max-width:922px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }


}
@media screen and (max-width: 400px){
  .sidebar{
    background-color: #101010;
  }
}












/* 
@media (min-width:768px) and (max-width:1024px){
.bgtop1{
  height: 352px;
}
.container1{
z-index: 100;
}
.container1 section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container{
  display: flex;
margin-top: 300px;
justify-content: center;
gap: 37px;

}
.left h1{
  margin-top: 14px;
}
.left p{
  margin-top: 7px;
}
.titles-container2{
  margin-top: 85px;
}

.container2-title{
  font-size: 15px;
}
.container2-subtitle{
  margin: 10px 0 0 0 ;
}
.imagescont2rreshti1{
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-bottom: 45px;
}
.imagesccont2rreshti2{
  display: flex;
  justify-content: center;
  gap: 45px;
}

.dontshowonmid{
  display: none;
}
.container3teksti h1{
  font-size: 24px;

}
.h1cont3tekst{
  display: flex;
  flex-wrap: wrap;
  width: 631px;
}
.h1cont3tekst{
  display: none;
}

.h1cont3tekst3{
  display: none;
}
.container3teksti{
  padding-top: 50px;
}
.h1cont3tekst2 h1{
  font-size: 24px;
}
.container3teksti h5{
  padding-bottom: 20px;
}
.bottomcont4{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Defines two columns of equal width */

.card2 .card3{
  margin-top: 30px;
}
.card2.card{
  margin-top: 20px;
}
/* .card3{
  margin-right: 50px;

} */
.topcont4{
  display: flex;
  flex-direction: column;
  
}
.container4{
  margin-top: 25px;
  
}
.bottomcont4p{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  margin-top: 60px;
}

section h1{
  margin-bottom: 20px;
}

.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  height: auto;
}
.topcont5{
  display: flex;
 gap: 45px;
}
.topbotcont5{
  display: flex;
  gap: 55px;  
}
.logocont5 img{
  width: 303px;
  height: 105px;
}
.logoscont5{
  display: flex;
  justify-content: space-around;
}
.topbotleftcont5{
  gap: 5px;
}
.topbotrightcont5{
  gap: 5px;
}
.botcont5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gethelpcont5 h1{
  font-size: 30px;
}














.bottom-container2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 25px;
}
.vector1{
  width: 10px;
  height: 10px;
  padding-top: 5px;
}
.container3{
  background: url(images/background1-container3.png);
  width: 100%;
  height: 319px;
  background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin-top: 100px;

}



.titles-container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.container2-title{
  color: #DFA667;
  font-weight: 700;
}
.container2-subtitle{
  font-family: aldrich;
  font-weight: 400;
}
/* .container1{
  margin: 0;
  padding: 0;
  background: url(images/bg1top.png) no-repeat center center fixed;
background-attachment: fixed;
background-size: cover;
width: 100%;
height: 500px;
} */

.container5{
  background-color: black;
  width: 100%;


}

section h1{
  font-family: aldrich;
  color: #FFFFFF;
  font-weight: 400;
}
section h5{
  font-family: poppins;
  color: #FFFFFF;
  font-weight: 400;
}
.svgpertel{
  padding-right: 50px;
}
.hideOnMobile1{
  text-decoration: none;
  
}
.hideOnMobile1:hover{
  text-decoration: underline;
  text-decoration-color: #dfa667;
  transform: scale(1.05);
  text-underline-offset: 3px;  
transition: text-decoration-color 0.2s ease-in-out;
}