.container5p1 , .container5p2 , .container5p3{
    background-color: black;
    width: 100%;
}

.topbotleftcont5p1 h5{
font-family: poppins;
font-weight: 600;
color: #ffffff;
}
.topbotleftcont5p1 p{
    font-family: poppins;
    color: #707070;
    font-weight: 400;
}


.topbotrightcont5p1 h5{
    font-family: poppins;
    font-weight: 600;
    color: #ffffff; 
}
.topbotrightcont5p1 p{
    font-family: poppins;
    color: #707070;
    font-weight: 400;
}
.emailuscont5p2 p{
    color: #B7B7B7;
    font-family: aldrich;
    font-weight: 400;
}
.emailcont5p3 p{
font-family: poppins;
color: #dfa667;
font-weight: 400;
}
.gethelpcont5p5 h1{
    font-family: aldrich;
    color: #FFFFFF;
    font-weight: 400;
}
.helpcont5p6 button{
    color: #ffffff;
    font-family: poppins;
    background-color: #DFA667;
    border: none;
}