.title{
    font-size: 30px;
    font-family: inter;
    color: white;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.header p{
    white-space: normal;
    word-wrap: break-word;
    color: white;
}
.quote{
    font-family: allura;
}
/* Popup */
